body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin-top: 50px;
}

/* gallery */
.item {
  position: relative;
  margin-top: 20px;
  cursor: pointer;
  height: 350px;
}

.item img {
  height: 100%;
}

.item-caption {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 5px;
}

/* lightbox */
.lightBox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightBox-item {
  width: 60%;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 500px;
}


i {
  font-size: 30px;
  cursor: pointer;
}

i#prev, i#next {
  font-size: 40px;
  cursor: pointer;
  opacity: 0.7;
}

i#prev:hover, i#next:hover, i#close:hover {
  opacity: 1;
}

i#close {
  font-size: 30px;
}

#close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
}

#prev {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 2;
}

#next {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 2;
}